<div class="video well">
    <div>
        <img src="{{ video.thumbnail_url }}" width="100%" />
        <h3 class="video-title">{{ video.name }}:</h3>
    </div>

    <div>
        <strong>MIT Sentiment Score:</strong> {{ video.sentiment_values[0]|round(2) }}
        <div>
            <div class="text-success" style="float: right">Positive</div>
            <div class="text-danger">Negative</div>
            <div style="clear: both"></div>
            <div style="border: 1px solid #ccc; width: 100%">
                <div style="border-right: 3px solid #000; width: {{ (video.sentiment_values[0] + 5) * 10 }}%">&nbsp;</div>
            </div>
        </div>
    </div>

    <div>
        <strong>AFINN Sentiment Score:</strong> {{ video.sentiment_values[1]|round(2) }}
        <div>
            <div class="text-success" style="float: right">Positive</div>
            <div class="text-danger">Negative</div>
            <div style="clear: both"></div>
            <div style="border: 1px solid #ccc; width: 100%">
                <div style="border-right: 3px solid #000; width: {{ (video.sentiment_values[1] + 5) * 10 }}%">&nbsp;</div>
            </div>
        </div>
    </div>

    <div>
        <strong>Emoticon Sentiment Score:</strong>
        <br><br>
        {% if video.sentiment_values[7] == 1 %}
        <img src="/images/smileys/positive.png" />
        {% else %}
        <img src="/images/smileys/negative.png" />
        {% endif %}
    </div>
    <div>
        <strong>Sentiment Over Time:</strong>
        <img src="{{ video.graph_image_path }}" width="100%" />
    </div>

    <div>
        <strong class="text-success">Most Common Good Words</strong>
        <table class="table">
            <tr>
                <th>Word</th>
                <th>Frequency</th>
            </tr>
            {% for word in video.sentiment_values[2]|dictsort(false, 'value')|reverse %}
                {% if loop.index <= 10 %}
                    <tr>
                        <td>{{ word[0] }}</td>
                        <td>{{ word[1] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    <div>
        <strong class="text-danger">Most Common Bad Words</strong>
        <table class="table">
            <tr>
                <th>Word</th>
                <th>Frequency</th>
            </tr>
            {% for word in video.sentiment_values[3]|dictsort(false, 'value')|reverse %}
                {% if loop.index <= 10 %}
                    <tr>
                        <td>{{ word[0] }}</td>
                        <td>{{ word[1] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>